---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const seoTitle = post.data.seoTitle ?? post.data.title;
const seoDescription = post.data.seoDescription ?? post.data.description;
---

<Layout>
  <Fragment slot="head">
    <title>{seoTitle}</title>
    <meta name="description" content={seoDescription} />

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content={seoTitle} />
    <meta property="og:description" content={seoDescription} />
    <meta property="og:image" content={post.data.heroImage} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={seoTitle} />
    <meta name="twitter:description" content={seoDescription} />
    <meta name="twitter:image" content={post.data.heroImage} />
  </Fragmen
